@import "tailwindcss";

@theme inline {
  --color-button: #1563b4;
  --color-main: #0a1a2f;
  --color-para: #605c5c;
  --color-accent-light: #eff8ff;
  --color-bright: #c0dbf7;
  --font-sans: var(--font-satoshi);
  --font-body: var(--font-dm-sans);

  --breakpoint-xss: 450px;
  --breakpoint-xs: 550px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1000px;
  --breakpoint-lgg: 1250px;
  --breakpoint-xl: 1280px;
}
